*
,a,button,div
,h1,h2,h3,h4,h5,h6
,p,span
,[class*=header]
,[class*=heading-]
,[class*=text-]
{
  font-family: '芫荽','Maple Mono NF CN','sans-serif';
}

code,code td>span,
[class^=codeBlockSyntax_] span,
[class^=codeLine_] span
{
  font-family: 'Maple Mono NF CN','Fira Code Retina';
}

[class^=channel_]:has([href="/shop"]),
[class^=listItem_]:has([aria-label=下載應用程式])
{
  display: none;
  visibility: hidden;
}
