@namespace url(http://www.w3.org/1999/xhtml);

/* 網站字型設定 */
@-moz-document
/**/
domain('aicamp.so'),
domain('amazon.co.jp'),
domain('bing.com'),
domain('booth.pm'),
domain('dlsite.com'),
domain('dmm.co.jp'),
domain('dmm.com'),
domain('iqt.ai'),
domain('jandi.com'),
domain('kktv.me'),
domain('to-do.live.com'),
domain('multcloud.com'),
domain('pionex.com'),
domain('reshapeapi.com'),
domain('retool.com'),
domain('rochat.ai'),
domain('ruten.com.tw'),
domain('dns.safu.pw'),
domain('sonkwo.hk'),
domain('shopee.tw'),
domain('shroud.email'),
domain('techbang.com'),
domain('telegram.org'),
domain('threads.net'),
domain('workramen.com'),
domain('youtube.com'),
domain('yuplay.ru'),
/**/
  {

  [class*=ytd-],
  a,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  p,
  select,
  span,
  td,
  textarea,
  th
  {
    font-family:
      'Membership Icons', FontAwesome,
      'Fira Code Retina',
      '源泉圓體', 'jf open 粉圓 1.1', 'Noto Sans CJK JP', 'Noto Sans TC',
      sans-serif !important;
  }

  code
  {
    font-family: 'Fira Code Retina', 'Courier New', Courier, monospace !important;
  }
}

/* 網站等寬字型 */
@-moz-document
/**/
domain('disp.cc'),
domain('ptt.cc'),
/**/
{
  a,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  p,
  span,
  td,
  textarea,
  th
  {
    font-family: '標楷體', sans-serif !important;
  }
}

/* 調整優惠券寬度 */
@-moz-document
/**/
url-prefix('https://www.dlsite.com/maniax/coupon'),
/**/
  {
  #couponget .couponget_lst_item
  {
    width: 408px;
  }
}

/* STEAMDB 成人不要模糊化 */
@-moz-document

/**/
domain('steamdb.info'),
/**/
  {
  .hover_screenshots_blur
  {
    filter: none !important;
  }
}
