@namespace url(http://www.w3.org/1999/xhtml);

/* 網站字型設定 */
@-moz-document
/**/
/*A*/
domain('aicamp.so'),
domain('aimagicx.com'),
domain('amazon.co.jp'),
domain('amwork.com'),
domain('appsumo.com'),
domain('artistly.ai'),
/*B*/
domain('beehiiv.com'),
domain('bilin.ai'),
domain('bing.com'),
domain('booth.pm'),
domain('bsky.app'),
/*D*/
domain('deepseek.com'),
domain('dlsite.com'),
domain('dmm.co.jp'),
domain('dmm.com'),
/*F*/
domain('firstpromoter.com'),
/*G*/
domain('getmerlin.in'),
/*I*/
domain('illumtori.com'),
domain('in2x.com'),
domain('iqt.ai'),
/*J*/
domain('jandi.com'),
/*K*/
domain('keylol.com'),
domain('kktv.me'),
/*L*/
domain('link.com'),
domain('linkedin.com'),
domain('to-do.live.com'),
domain('lunabot.ai'),
/*M*/
domain('mercari.com'),
domain('mistral.ai'),
domain('multcloud.com'),
/*N*/
domain('nijijourney.com'),
domain('notion.so'),
/*P*/
domain('pingify.com'),
domain('pionex.com'),
domain('poe.com'),
/*Q*/
domain('qwenlm.ai'),
/*R*/
domain('raphael.app'),
domain('remail.ai'),
domain('reshapeapi.com'),
domain('retool.com'),
domain('rochat.ai'),
domain('ruten.com.tw'),
/*S*/
domain('dns.safu.pw'),
domain('scira.how'),
domain('shopee.tw'),
domain('shroud.email'),
domain('sonkwo.hk'),
domain('sorrix.com'),
domain('stripe.com'),
/*T*/
domain('techbang.com'),
domain('telegram.org'),
domain('threads.net'),
domain('transcript.lol'),
/*W*/
domain('workramen.com'),
/*Y*/
domain('youtube.com'),
domain('yuplay.ru'),
/**/
url('https://ani.gamer.com.tw/seasonal.php'),
/**/
{
  /* KKTV */
  .video-quality-item
  {
    font-family: 'kktv-icon-font' !important;
  }
  /* icons */
  .material-icons-round
  {
    font-family: 'Material Icons Round' !important;
  }
  .mee-icon
  {
    font-family: 'Membership Icons' !important;
  }
  .win-icon
  {
    font-family: "Dev Center MDL2 Assets", "Steering Wheel MDL2 Assets", "Membership MDL2 Assets" !important;
  }
  /* general */
  [class*=ytd-],
  a,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  p,
  select,
  span,
  td,
  textarea,
  th
  {
    font-family:
      'Tahoma',
      '源泉圓體', 'jf open 粉圓 1.1', 'Noto Sans CJK JP', 'Noto Sans TC',
      sans-serif !important;
  }

  code
  {
    font-family: 'Fira Code Retina', 'Courier New', Courier, monospace !important;
  }
}

/* scrintal */
@-moz-document
/**/
domain('scrintal.com'),
/**/
{
  a,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span
  {
    font-family: 芫荽, sans-serif !important;
  }

  code
  {
    font-family: 'Fira Code Retina', 'Courier New', Courier, monospace !important;
  }
}

/* 網站等寬字型 */
@-moz-document
/**/
domain('disp.cc'),
domain('ptt.cc'),
/**/
{
  a,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  p,
  span,
  td,
  textarea,
  th
  {
    font-family: '標楷體', sans-serif !important;
  }
}

/* 調整優惠券寬度 */
@-moz-document
/**/
url-prefix('https://www.dlsite.com/maniax/coupon'),
/**/
{
  #couponget .couponget_lst_item
  {
    width: 408px;
  }
}

/* STEAMDB 成人不要模糊化 */
@-moz-document

/**/
domain('steamdb.info'),
/**/
{
  .hover_screenshots_blur
  {
    filter: none !important;
  }
}
